[Unit]
Description=ICE-Mailerbridge Service
After=network.target

[Service]
ExecStart=/usr/bin/bash /usr/local/ICEMail/bridge/bridge_run.sh
WorkingDirectory=/usr/local/ICEMail/bridge
Restart=no
User=root

[Install]
WantedBy=multi-user.target
